.job-item-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px 10px;
  background-color: #272727;
  border-radius: 16px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .job-item-card {
    padding: 20px;
  }
}

.job-card-title-container {
  display: flex;
  flex-direction: row;
}

.company-logo {
  height: 50px;
  width: 50px;
}

.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  margin-left: 12px;
  padding-top: 2px;
}

.job-title {
  margin: 0px;
  font-weight: bold;
}

.rating-container {
  display: flex;
  flex-direction: row;
  height: 25px;
  justify-content: flex-start;
  align-items: center;
}

.star-image {
  color: #fbbf24;
  margin-right: 8px;
}

.job-card-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid #64748b;
}

.job-detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
}

.details-logo {
  margin-right: 4px;
}

.details-info {
  font-size: 14px;
  font-weight: 300;
}

.job-package {
  margin-left: auto;
}

.job-description-title {
  margin-bottom: 8px;
  margin-top: 0px;
}

.job-description {
  line-height: 1.5;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .job-description {
    line-height: 1.8;
    font-weight: 400;
  }
}
