.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: #ffffff;
  width: 100%;
  background-color: #000000;
  min-height: 100vh;
  padding-top: 180px;
  padding-bottom: 180px;
}

.not-found-image {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .not-found-image {
    height: 450px;
    width: 450px;
  }
}

.not-found-heading {
  color: #ffffff;
  margin: 16px;
}

@media screen and (max-width: 767px) {
  .not-found-heading {
    font-size: 24px;
  }
}

.not-found-description {
  color: #7e858e;
  text-align: center;
  width: 70%;
}
